<div>
    <input type="text" placeholder="Course Name" class="form-control" [(ngModel)]="a">
    <input type="text" placeholder="Duration" class="form-control mt-2" [(ngModel)]="b">
    <input type="text" placeholder="Fees" class="form-control mt-2" [(ngModel)]="c">
    <input type="text" placeholder="HOD Name" class="form-control mt-2"[(ngModel)]="d">
    <input type="text" placeholder="HOD COntact No" class="form-control mt-2" [(ngModel)]="e">
</div><br>
<button class="btn btn-outline-primary"  *ngIf="cou.co_id==0" (click)="new_cou()">Save</button>
<button class="btn btn-outline-primary" *ngIf="cou.co_id!=0" (click)="updatecou()">Update</button>