<div class="container">
  <h1 style="text-align: center;color: rgb(9, 64, 243);font-weight: 600; font-family: Arial, Helvetica, sans-serif;">College Management</h1>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: 50px; border-radius: 5px;">
    <div class="container-md">
      <ul style="margin-top: 15px;">
        <button class="btn btn-outline-danger" routerLink="college" style="margin-left: -35px;" >College</button>
      <button class="btn btn-outline-danger" routerLink="course" style="margin-left: 10px;">Courses</button>
      <button class="btn btn-outline-danger" routerLink="teacher"style="margin-left: 10px;">Teacher</button>
      <button class="btn btn-outline-danger" routerLink="student" style="margin-left: 10px;">Student</button>
      </ul>
    </div>
  </nav>
  </div>

<router-outlet />